cityscapesscripts==2.2.0
colorlog==6.6.0
env==0.1.0
filelock==3.4.2
imgaug==0.4.0
matplotlib==3.5.1
mediapipe==0.8.9.1
numpy==1.19.3
opencv_python==4.5.5.62
Pillow==9.0.1
prettytable==3.0.0
PyYAML==6.0
requests==2.27.1
scikit_learn==1.0.2
scipy==1.7.3
setuptools==60.6.0
six==1.16.0
tqdm==4.62.3
visualdl==2.2.3
